* {
  margin: 0;
  padding: 0;
}
.cart-page {
  margin: 80px auto;
}

.products-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.products-container h1 {
  font-size: 25px;
  color: #d0611e;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  padding: 10px;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid black;
  margin: 0 auto;
}
.product-title {
  width: 45%;
}

.price {
  width: 15%;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
}
.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.products{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.products img{
  width: 75px;
}
.basketTotalContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}