body {
  background-color: #f4f4f4;
}
.checkout-content {
  height: 500px;
  padding-top: 5%;
}
.user-info {
  display: flex;
  justify-content: center;
}
.user-info > div {
  margin: 6px;
}
.personal-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 30px;
    background-color: white;
    padding: 50px;
}


.acc {
  background-color: white;
  padding: 20px;
  max-width: 650px;

  line-height: 35px;
}
.sum{
    text-align: center;
}

.form-txt {
  height: 35px;
  width: 300px;
}
.form-btn {
  height: 40px;
  width: 300px;
  border: none;
  background-color: #1a9cb7;
  color: white;
}
.form-vouch {
  height: 32px;
  width: 220px;
}
.btn-vouch {
  height: 37px;
  width: 120px;
  background-color: #1a9cb7;
  color: white;
  border: none;
}
.btn-orders{
    padding-top: 20px;
}
.btn-order {
  height: 35px;
  width: 450px;
  border: none;
  color: white;
  background-color: #d0611e;
}
.voc{
  padding-top:10px;
}
.tot{
    padding-top: 25px;
}

@media(max-width:1230px){
  .personal-info{
    grid-template-columns: repeat(1,auto);
  }
  .user-info{
    flex-direction: column;
  }
  .voc{
    padding-top: 20px;
  }
  .btn-vouch,.btn-order{
    width: 100%;
  }
  input[type="submit"],input[type="text"]{
    width: 100%;
  }
}
/*
.submit{
    position: relative;
    top: 15px;
    left: -1px;
}

/*
.submit{
    position: relative;
    top: 15px;
    left: -1px;
}*/
