/*Product Grids*/
.keyboards,.mouse,.headsets{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 80px;
    padding: 10px;
}

.prod1,.prod2,.prod3{
    height: 260px;
    width: 250px;
    border: 0.5px solid black;
}

label{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
    
}
.product-info{
    text-align: center;
}
.product-info > img{
    height: 80px;
}
.interactions{
position: relative;
top: 60px;
}
.quantity{
    height: 25px;
}
.add-cart{
    height: 40px;
    width: 140px;
    background-color: #2F3234;
    color: white;
    border: none;
    font-size: 14px;
}
@media(max-width:927px){
    .keyboards,.mouse,.headsets{
        grid-template-columns: repeat(1,auto);
    }
    .prod1,.prod2,.prod3{
        width: 350px;
    }
}

@media(max-width:364px){
    .prod1,.prod2,.prod3{
        width: 200px;
    }
}

/*
.prod1{
    background: url(../images/kb1.png);
    background-size: 140px 100px;
    background-position: center;
    background-repeat: no-repeat;
}
.prod2{
    background: url(../images/mouse1.png);
    background-size: 140px 100px;
    background-position: center;
    background-repeat: no-repeat;
}
.prod3{
    background: url(../images/headset1.png);
    background-size: 140px 100px;
    background-position: center;
    background-repeat: no-repeat; 
}
*/